extends ../layouts/layout

block head
  title #{application} &middot; Enrollment

block styles

block content
  .container
    h1.text-uppercase Your Refund Status
    p
      | To find out when your refund is expected to fund please visit the IRS website at&nbsp;
      a(href='http://www.irs.gov') www.irs.gov
      |  and click on "Get your refund status" or call the IRS at (800) 829-1954.  We will pay your refund as soon as it is received.
    .row
      .col-md-12
        h4.brand2 Funding Details
        .bg-gray-lighter
          .table-responsive
            table.table
              thead
                tr
                  th.text-uppercase Funding Source
                  th.text-uppercase.text-right Expected Amount
                  th.text-uppercase.text-right Received Amount
              tbody
                each taxReturn, index in returns
                  tr
                    td.text-uppercase!= taxReturn.returnDescription
                    td.text-right
                      | #{numeral(taxReturn.amountExpected).format('$0,0.00')}
                    td.text-right
                      | #{numeral(taxReturn.amountReceived).format('$0,0.00')}
                tr.brand2
                  td.text-uppercase
                    h3 Total
                  td.text-right
                    h3 #{numeral(totalAmountExpected).format('$0,0.00')}
                  td.text-right
                    h3 #{numeral(totalAmountReceived).format('$0,0.00')}
    .row
      .col-md-12
        h4.brand2 Refund Details
        .bg-gray-lighter
          .row
            .col-md-6
              canvas#feeChart
            .col-md-6
              table.table
                thead
                  tr
                    th.text-uppercase(colspan="2") Description
                    th.text-uppercase.text-right Amount
                tbody
                  each fee, index in fees
                    tr
                      td
                        .widget(style="background-color: #{fee.color}") &nbsp;
                      td.text-uppercase!= fee.label
                      td.text-right
                        | #{numeral(fee.value).format('$0,0.00')}
                  tr.brand2
                    td.text-uppercase(colspan="2")
                      h3 Refund Due
                    td.text-right
                      h3 #{numeral(refund).format('$0,0.00')}
    .row
      .col-md-12
        h4.brand2 Payment Details
        .bg-gray-lighter
          .table-responsive
            table.table
              tr
                th.text-uppercase Date
                th.hidden-xs.text-uppercase Method
                th.hidden-xs
                th.text-uppercase.text-right Payment Amount
              each disbursement, index in disbursements
                tr
                  td.text-uppercase
                    | #{moment(disbursement.date).format('M/D/YYYY')}
                  td.hidden-xs.text-uppercase!= disbursement.method
                  td.hidden-xs
                    //- img.payment-logo(src='https://d1ir1l1v07ijd0.cloudfront.net/img/walmart/walmart-direct-2-cash-logo.png')
                  td.text-right
                    | #{numeral(disbursement.amount).format('$0,0.00')}
              tr.brand2
                td.text-uppercase
                  h3 Total
                td.hidden-xs
                td.hidden-xs
                td.text-right
                  h3 #{numeral(totalAmountDisbursed).format('$0,0.00')}
    .row
      .col-md-12
        h4.brand1 &nbsp;
block scripts
  script(src='/lib/numeral/numeral.min.js')
  script(src='/lib/chart.js/chart.min.js')
  script.
    $(document).ready(function () {
        //- Set global chart options
        Chart.defaults.global.responsive = true;

        //- Get the context of the canvas element we want to select
        //- canvasFees = document.getElementById('feeChart');
        //- ctxTotal = canvasFees.getContext('2d');

        var ctx = document.getElementById("feeChart").getContext("2d");

        //- Draw total doughnut chart
        //- var totalDoughnutChart = new Chart(ctxTotal).Doughnut(!{chartFees}, {
        //-   tooltipTemplate : function(valueObj) {
        //-     return numeral(valueObj.value).format('$0,0.00');
        //-   }
        //- });

        var myDoughnutChart = new Chart(ctx, {
          type: 'doughnut',
          data: !{chartFees},
          options: {
            cutoutPercentage: 50
          }
        });
    });
