extends ../layouts/layout

block head
  title #{application} &middot; Error

block content
  .container
    h1 
      i.fa.fa-thumbs-o-down
      | &nbsp;&nbsp;Error:&nbsp;
      span.red #{error.status} 
    h1 
      span.red #{error.message}
    h3 
      | URL:&nbsp;
      span.red #{url}
    br
    .row
      .col-sm-4
        p
          a.btn.btn-primary.btn-lg.btn-block(href="/") Return to our Home Page
    .row
      .col-md-12
        br
        if error.stack
          h4 Stack Trace:
          pre.element #{error.stack}
